<mat-toolbar class="mat-elevation-z4" color="primary"></mat-toolbar>
<main>
  <section class="flx-center">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Add task"
        #task
        (keyup.enter)="addTask(task.value)"
      />
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="addTask(task.value)">
      Add
    </button>
  </section>

  <section class="flx-center flx-dc">
    <mat-expansion-panel *ngFor="let task of tasks; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <input
            type="checkbox"
            name=""
            id=""
            (click)="checkTask(i, $event)"
            [checked]="task.completed"
          />
        </mat-panel-title>
        <mat-panel-description
          [style.textDecoration]="task.completed ? 'line-through' : 'none'"
        >
          {{ task.title }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="flx-center flx-dc">
        <mat-form-field>
          <textarea
            name=""
            id=""
            cols="10"
            rows="3"
            matInput
            placeholder="Comment here.."
            #commentarea
          ></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="addComment(i, commentarea.value)">
          Post comment
        </button>
        <ul class="comments">
          <li *ngFor="let comment of task?.comments">
            <p>
              {{ comment.text }}
            </p>
            <p class="date">
              {{ comment.date }}
            </p>
          </li>
        </ul>
      </div>
    </mat-expansion-panel>
  </section>
</main>
